<div class="row col-md-8 mx-auto my-1">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/new" routerLinkActive="active">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/track" routerLinkActive="active">Track</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/manage" routerLinkActive="active">Manage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="signout()">Sign Out</a>
    </li>
    </ul>
</div>
